
h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    font-size: 52px;
}
h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 32px;
    padding-left: 5%;
    padding-right: 5%;
}
p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
img {
    border-radius: 8px;
    width: 400px;
    height: auto;
    rotation: 90deg;
    display: block;
    padding-left: 5%;
    padding-right: 5%;

}
div{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;

}
table{
    align-content: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
td{

    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
}
th{
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-right: solid 2px;
}
.centre{
    margin-right: auto;
    margin-left: auto;
}